nav {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: var(--main-font-size);
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 100px;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation ul {
  padding: 0 50px;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  // height: 100px;
}
.navigation a {
  color: var(--main-color);
  text-decoration: none;
}

nav .numbers {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--main-bg-light);
  border-radius: 9px;
  padding: 0 10px;
  p {
      margin: 8px;
  }
}

nav .icons {
  display: flex;
  gap: 10px;
  button {
      border-radius: 8px;
      padding: 10px 12px;
      border: none;
      background-color: var(--main-bg-light);
  }
}
