<nav>
  <div class="logo">
<img src="../assets/images/balloons-logo.svg" alt="balloons-logo">
  <span>ShopShar</span>
  </div>

  <div class="navigation">
    <ul>
      <a routerLink="/">Главная</a>
      <a routerLink="/products">Продукция</a>
      <a routerLink="/payment">Оплата</a>
      <a routerLink="/delivery">Доставка</a>
    </ul>
  </div>

  <div class="numbers">
    <p>+38 067 59 88 936</p>
    <fa-icon [icon]="faChevronDown" size="lg"></fa-icon>
  </div>

  <div class="icons">
    <button class="mgglass">
      <fa-icon [icon]="faMagnifyingGlass" size="lg"></fa-icon>
    </button>

    <button class="cart">
      <fa-icon [icon]="faCartShopping" size="lg"></fa-icon>
    </button>

  </div>
</nav>
