<nav>
    <div class="logo">
  <img src="../assets/images/balloons-logo.svg" alt="balloons-logo">
    <span>ShopShar</span>
    </div>
  
    <div class="navigation">
      <ul>
        <a href="">Главная</a>
        <a href="">Продукция</a>
        <a href="">Оплата</a>
        <a href="">Доставка</a>
      </ul>
    </div>
  
    <div class="numbers">
      <p>+38 067 59 88 936</p>
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
  
    <div class="icons">
      <button class="mgglass">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
      
      <button class="cart">
        <fa-icon [icon]="faCartShopping"></fa-icon>
      </button>
      
    </div>
  </nav>

  <div class="banner">
    <img src="./../../../assets/images/balloons-banner.jpg" alt="rose balloons">
    <h3>ОПТОВАЯ И РОЗНИЧНАЯ 
        <br>ПРОДАЖА ВОЗДУШНЫХ ШАРОВ <br>
    </h3> 
  </div>

  <div class="categories">
    <h3>КАТЕГОРИИ</h3>

    <ul>
      <li>
        <a href="">
          <img class="cat1" src="./../../../assets/images/categories1.svg" alt="balloons">
          <h2>Латексные шары</h2>
        </a>
      </li>

      <li>
        <a href="">
          <img class="cat2" src="./../../../assets/images/categories2.svg" alt="foil balloons">
          <h2>Фольгированные шары</h2>
        </a>
      </li>

      <li>
        <a href="">
          <img class="cat3" src="./../../../assets/images/categories3.svg" alt="accessories">
          <h2>Аксессуары для шаров</h2>
        </a>
      </li>

      <li>
        <a href="">
          <img class="cat4" src="./../../../assets/images/categories4.svg" alt="confetti">
          <h2>Всё для праздника</h2>
        </a>
      </li>

      <li>
        <a href="">
          <img class="cat5" src="./../../../assets/images/categories5.svg" alt="calendar">
          <h2>Календари</h2>
        </a>
      </li>

      <li>
        <a href="">
          <img class="cat6" src="./../../../assets/images/categories6.svg" alt="wrapping paper">
          <h2>Упаковочная бумага</h2>
        </a>
      </li>
    </ul>
  </div>