<navigation></navigation>

<div class="banner">
  <img src="./../../../assets/images/balloons-banner.jpg" alt="rose balloons">
  <h3>ОПТОВАЯ И РОЗНИЧНАЯ
      <br>ПРОДАЖА ВОЗДУШНЫХ ШАРОВ <br>
  </h3>
</div>

<div class="categories">
  <h3>КАТЕГОРИИ</h3>

  <ul>
    <li  *ngFor="let category of categoryParents; index as i">
      <a href="">

        <img class="cat{{i}}" src="./../../../assets/images/categories/{{category}}.svg" alt="balloons">
        <h2>{{category}}</h2>

      </a>
    </li>

  </ul>
</div>
