.open-products {
  margin: 0 auto;
}

.choose-cat-btn,
.choose-subcat-btn {
  border-radius: 12px;
  padding: 10px 17px;
  border: none;
  background-color: var(--main-bg-light);
  margin: 18px 18px;
  align-items: center;
  border-bottom: 2px solid var(--main-bg-light);
}

.choose-cat-btn.active,
.choose-subcat-btn.active {
  background-color: var(--main-bg-dark);
  color: white;
}

.open-products {
  max-width: var(--body-width);
}

.products {
  margin: 0 auto;
  display: flex;
  max-width: var(--body-width);
}

.sidebar {
  height: 100%;
  width: 200px;
}

ul {
  display: grid;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  border-radius: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;

  img {
    height: 252px;
    width: 252px;
    display: block;
    margin: 0 auto;
  }

  li {
    height: 508px;
    width: 335px;
    list-style: none;
    position: relative;
    box-shadow: 0px 4px 30px rgb(211 236 255 / 70%);
    border-radius: 24px;
    overflow: hidden;
    padding-right: 0;
    align-items: end;
    padding: 20px;
    box-sizing: border-box;
  }
}

.p-title,
.p-pcs {
  font-size: var(--main-font-size);
  font-weight: 200;
  padding-top: 17px;
}

.p-price-sold-out {
  display: flex;
  justify-content: space-between;
  font-size: var(--main-font-size);
  padding-top: 30px;
  padding-bottom: 45px;
}

.p-price {
  font-weight: 600;
}

.p-sold-out {
  color: #17C051;
  font-weight: 400;
}

.p-code {
  font-size: 12px;
  font-weight: 200;
  color: grey;
  margin-left: auto;
}

.input-cart {
  width: 140px;
  height: 37px;
  position: relative;
}

.q-input {
  height: 100%;
  border: 1.5px solid var(--main-bg-light);
  box-shadow: 0px 4px 10px rgba(193, 193, 237, 0.5);
  border-radius: 8px;
  padding-right: 45px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
}

.icon-btn {

  &.cart {
    position: absolute;
    right: 0;
  }
  // &.heart {
  //   margin-left: 10px;
  // }
}

.input-btns-code {
  display: flex;
  gap: 15px;
  align-items: center;
}

