<navigation></navigation>

<div class="open-products">

  <button
    class="choose-cat-btn"
    [class.active]="activeCatResult === cat"
    *ngFor="let cat of nestedCats"
    (click)="clickedActiveCatResult(cat)">

    {{cat.category}}
  </button>

  <div>
    <button
      class="choose-subcat-btn"
      [class.active]="activeSubcategory === subcat"
      (click)="clickedActiveSubcatResult(subcat)"
      *ngFor="let subcat  of activeCatResult?.children">

      {{subcat}}
    </button>
  </div>
</div>

 