.open-products{
  margin: 0 auto;
}

.choose-cat-btn,
.choose-subcat-btn{
      border-radius: 12px;
      padding: 10px 17px;
      border: none;
      background-color: var(--main-bg-light);
      margin: 18px 18px;
      align-items: center;
      border-bottom: 2px solid var(--main-bg-light);


}

.choose-cat-btn.active,
.choose-subcat-btn.active{
  background-color: var(--main-bg-dark);
  color: white;
}
