<nav>
    <div class="logo">
  <img src="../assets/images/balloons-logo.svg" alt="balloons-logo">
    <span>ShopShar</span>
    </div>
  
    <div class="navigation">
      <ul>
        <a href="">Главная</a>
        <a href="">Продукция</a>
        <a href="">Оплата</a>
        <a href="">Доставка</a>
      </ul>
    </div>
  
    <div class="numbers">
      <p>+38 067 59 88 936</p>
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
  
    <div class="icons">
      <button class="mgglass">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
      
      <button class="cart">
        <fa-icon [icon]="faCartShopping"></fa-icon>
      </button>
      
    </div>
  </nav>