<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Категории">

    <div class="category">
      <h2>Создать новую категорию</h2>
      <form [formGroup]="newCategoryForm">

        <mat-form-field appearance="fill">
          <mat-label>Категория</mat-label>
          <input matInput formControlName="category" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Подкатегория</mat-label>
          <input matInput formControlName="subCategory" type="text" class="form-control">
        </mat-form-field>


        <button mat-stroked-button color="primary" class="addcat-btn" [disabled]="newCategoryForm.invalid"
          (click)="clickedAddCategory()">
          Добавить
        </button>

      </form>
    </div>

    <table mat-table [dataSource]="categories" class="mat-elevation-z8">

      <ng-container matColumnDef="parent">
        <th mat-header-cell *matHeaderCellDef> Категория </th>
        <td mat-cell *matCellDef="let category"> {{category.parent}} </td>
      </ng-container>

      <ng-container matColumnDef="child">
        <th mat-header-cell *matHeaderCellDef> Подкатегория </th>
        <td mat-cell *matCellDef="let category"> {{category.child}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let category">
          <button mat-stroked-button color="primary" class="deletecat-btn"
            (click)="clickedDeleteCategory(category._id)">
            Удалить
          </button>


        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="categoryDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: categoryDisplayedColumns;"></tr>
    </table>
  </mat-tab>

  <mat-tab label="Продукты">

    <div class="product">
      <h2>Создать новый продукт</h2>
      <form [formGroup]="newProductForm">

        <mat-form-field appearance="fill">
          <mat-label>Название</mat-label>
          <input matInput formControlName="title" name="title" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Описание</mat-label>
          <input matInput formControlName="description" name="description" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Код</mat-label>
          <input matInput formControlName="code" name="code" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Цена</mat-label>
          <input matInput formControlName="price" name="price" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Количество в упаковке</mat-label>
          <input matInput formControlName="pieces" name="pieces" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Размер</mat-label>
          <input matInput formControlName="sizeCm" name="sizeCm" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ширина</mat-label>
          <input matInput formControlName="widthCm" name="widthCm" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Высота</mat-label>
          <input matInput formControlName="heightCm" name="heightCm" type="text" class="form-control">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Категория</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categoryOptions" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Подкатегория</mat-label>
          <mat-select formControlName="subCategory">
            <mat-option *ngFor="let subCategory of subcategoryOptions" [value]="subCategory">
              {{subCategory}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Цвет</mat-label>
          <input type="text" matInput formControlName="color" [matAutocomplete]="colorAuto">

          <mat-autocomplete autoActiveFirstOption #colorAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredColorOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Форма</mat-label>
          <input type="text" matInput formControlName="shape" [matAutocomplete]="shapeAuto">

          <mat-autocomplete autoActiveFirstOption #shapeAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredShapeOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Тип</mat-label>
          <input type="text" matInput formControlName="type" [matAutocomplete]="typeAuto">

          <mat-autocomplete autoActiveFirstOption #typeAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredBalloonTypeOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Производитель</mat-label>
          <input type="text" matInput formControlName="maker" [matAutocomplete]="makerAuto">

          <mat-autocomplete autoActiveFirstOption #makerAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredMakerOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-checkbox formControlName="soldOut" class="form-control">
          Распродано
        </mat-checkbox>
        <h1>Добавить фото</h1>
        <div class="image" *ngFor="let image of images">
          <button class="img" type="button">
            <fa-icon [icon]="faPlus" size="lg"></fa-icon>
          </button>
        </div>

      </form>
      <button *ngIf="!editingProductId" mat-stroked-button color="primary" class="addprod-btn"
        [disabled]="newProductForm.invalid" (click)="clickedAddProduct()">
        Добавить
      </button>
      <button *ngIf="editingProductId" mat-stroked-button color="primary" class="save-btn"
        (click)="clickedSaveProduct()">
        Сохранить
      </button>
      <button *ngIf="editingProductId" mat-stroked-button color="primary" class="cancel-btn" (click)="clickedCancel()">
        Отменить
      </button>
    </div>

    <table mat-table [dataSource]="products" class="mat-elevation-z8 full-width">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let product"> {{product.title}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Описание </th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Код </th>
        <td mat-cell *matCellDef="let product"> {{product.code}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Цена </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <ng-container matColumnDef="pieces">
        <th mat-header-cell *matHeaderCellDef> Количество в упаковке </th>
        <td mat-cell *matCellDef="let product"> {{product.pieces}} </td>
      </ng-container>

      <ng-container matColumnDef="sizeCm">
        <th mat-header-cell *matHeaderCellDef> Размер </th>
        <td mat-cell *matCellDef="let product"> {{product.sizeCm ?? '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="widthCm">
        <th mat-header-cell *matHeaderCellDef> Ширина </th>
        <td mat-cell *matCellDef="let product"> {{product.widthCm ?? '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="heightCm">
        <th mat-header-cell *matHeaderCellDef> Высота </th>
        <td mat-cell *matCellDef="let product"> {{product.heightCm ?? '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Категория</th>
        <td mat-cell *matCellDef="let product"> {{product.category.parent}} </td>
      </ng-container>

      <ng-container matColumnDef="subCategory">
        <th mat-header-cell *matHeaderCellDef>Подкатегория</th>
        <td mat-cell *matCellDef="let product"> {{product.category.child}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Цвет </th>
        <td mat-cell *matCellDef="let product"> {{product.color || '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="shape">
        <th mat-header-cell *matHeaderCellDef> Форма </th>
        <td mat-cell *matCellDef="let product"> {{product.shape || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Тип </th>
        <td mat-cell *matCellDef="let product"> {{product.type || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="maker">
        <th mat-header-cell *matHeaderCellDef> Производитель </th>
        <td mat-cell *matCellDef="let product"> {{product.maker || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="soldOut">
        <th mat-header-cell *matHeaderCellDef> Нет в наличии </th>
        <td mat-cell *matCellDef="let product"> {{product.soldOut ? 'Нет в наличии' : 'Есть в наличии' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions1">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let product">
          <button mat-stroked-button color="primary" class="editprod-btn" (click)="clickedEditProduct(product)">
            Изменить
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions2">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let product">
          <button mat-stroked-button color="primary" class="deleteprod-btn" (click)="clickedDeleteProduct(product._id)">
            Удалить
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="productDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: productDisplayedColumns;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>