h2,
mat-form-field,
.addcat-btn,
.addprod-btn{
  margin-left: 20px;
  display: flex;
}

.deletecat-btn,
.deleteprod-btn,
mat-checkbox{
  margin-left: 20px;
}

table {
  width: 60%;
  margin: 20px 20px;
}
