h2,
mat-form-field,
.addcat-btn,
.addprod-btn{
  margin-left: 20px;
  display: flex;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.addcat-btn,
.addprod-btn {
  width: 204px;
  margin-top: 10px;
}

.deletecat-btn,
.editprod-btn,
.deleteprod-btn,
.save-btn,
.cancel-btn,
mat-checkbox{
  margin-left: 20px;
}

table {
  width: 60%;
  margin: 20px 20px;

  &.full-width {
    width: 100%;
  }
}


