@import "./variables.scss";
@import "./buttons.scss";

body {
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
